# =========================
# Quarto / Render
# =========================
.quarto/
_quarto/
_freeze/
*_files/
*.nb.html

# =========================
# R
# =========================
.Rhistory
.RData
.Ruserdata
.Rproj.user/
*.Rproj

# renv (opcional: manter lockfile)
renv/library/
renv/python/
renv/staging/
renv/cache/
!renv.lock

# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# Ambientes Python
.venv/
venv/
env/
python-env/
**/python-env/
**/.venv/

# Jupyter
.ipynb_checkpoints/

# =========================
# Sistema
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs
# =========================
*.log

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# Build / temporários
# =========================
*.aux
*.toc
*.out
*.snm
*.nav
*.fls
*.fdb_latexmk
/.quarto/
.positai
